/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/06/2015, 10:53:54 PM
    Author     : Diego castro
*/

#logoPrincipal{background: url(../img/logo.png); display: block; width: 870px; height: 119px; margin: auto;}
.panel_izquierdo{margin: auto;}
#texto{ margin: auto; margin-left: 350px; margin-bottom: 1em;}
#galeria{display: block; margin: auto; width: 870px; margin-left: 104px;}
#bannerPrincipal{background: url(../img/banner-compra.jpg); display: block; width: 691px; height: 86px; margin-left: 20px; margin-bottom: 1em;}
#temaAndroid{ background: url(../img/android-robot.png); margin-left: 85px; margin-top: -34px; top: 20px; left: -200px; width: 200px; height: 400px;}
